body{
    margin:0;
    padding:0;
    padding-bottom:60px;
}
.wrap{
    padding: 16px 16px 0px;
}
.show-img{
    position:relative;
    width:100%;
    background:#bd820a;
    padding:30px 0px;
}
.show-img img{
    display:block;
    width:70%;
    margin:0 auto;
}
.title{
    font-weight:600;
    margin-top:10px;
}
.amount,.lasttime{
    font-size:0.8em;
    color:#8a8a8a;
    margin-top:10px;
}
.info{
    list-style:none;
    padding:0;
    font-size:0.9em;
    margin-top:20px;
}
.info li{
    height:40px;
    line-height:40px;
    border-bottom:1px solid #eee;
}
.info li .iconfont{
    margin-right:20px;
}
.info li .b{
    font-weight:600;
    color:#000;
    float:none;
}
.info li span{
    color:#8a8a8a;
    float:right;
}
.desc .desc-title{
    font-size:0.9em;
    color:#8a8a8a;
}
.desc .content{
    margin-top:10px;
    font-size:0.8em;
    color:#515151;
}
.img-wrap{
    margin-top:10px;
}
.img-wrap img{
    width:100%;
}
.desc .bottom-title{
    font-size:0.9em;
    color:#8a8a8a;
    margin-top:20px;
}
.bottom-img img{
    display:block;
    width:140px;
    margin:0 auto;
    margin-top:16px;
}
.clearfix:after{
    display:block;
    content:"";
    height:0;
    visibility:hidden;
    clear:both;
}
.message{
    margin-top:10px;
    background:#eee;
    font-size:0.9em;
    padding:0 16px;
}
.message span{
    float:right;
    color:#bd820a;
}
.nav-bottom{
    position:fixed;
    height:30px;
    line-height:30px;
    right:0;
    bottom:0;
    zoom:2;
    background:#f15453;
    width:100%;
    color:#fff;
    text-align:center;
    font-size:0.7em;
}
div.btn-group{
    width:100%;
    height:30px;
    line-height:30px;
    text-align:center;
}
.btn-group .left-btn{
    background:#19c8a9;
    width:50%;
    color:#fff;
    text-decoration:none;
    float:left;
}
.btn-group .right-btn{
    background:#f7a945;
    width:50%;
    color:#fff;
    text-decoration:none;
    float:left;
}