body{
    background:#eee;
    padding-bottom:50px;
}
.cont-wrap{
    background:#fff;
    padding:16px 16px;
    margin-top:10px;
}
.cont{
    position:relative;
    margin:0 auto;
}
.cont .show-img{
    width:100%;
}
.cont .show-img img{
    width:100%;
}
.cont .title{
    position:absolute;
    left:0;
    top:50px;
    width:100%;
    color:#fff;
    background:rgba(44,47,47,0.5);
    height:34px;
    line-height:34px;
    text-indent:1em;
}
.host{
    height:34px;
    line-height:34px;
    font-size:0.9em;
    color:#515151;
}
.host .host-place{

    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.host .enter{
    float:right;
}
.desc{
    height:34px;
    line-height:34px;
    color:#8a8a8a;
}
.desc .checkbox{
    float:left;
}
.desc .btn{
    float:left;
}
.desc .place{
    width:200px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size:0.8em;
    text-indent:2em;
    background:url(../images/place.png) no-repeat 5px 8px;
}
.desc .time{
    float:right;
    font-size:0.8em;
    margin-top:-34px;
}
.btn{
    font-size:0.8em;
    margin-top:5px;
    padding:2px 10px;
}
.checkbox{
    margin-top:4px;
}
.nav-bottom{
    width:100%;
    height:50px;
    position:fixed;
    bottom:-10px;
    left:0;
    z-index:2;
    background:#fff;
}
.nav-bottom li{
    position:relative;
    display:inline-block;
    width:20%;
    float:left;
    height:50px;
    line-height:6;
}
.nav-bottom a{
    color:#8a8a8a;
    font-size:0.8em;
}
.nav-bottom .iconfont{
    position:absolute;
    top:-50px;
    left:0px;
    color:#000;
    font-size:24px;
}


